
div {
  background: yellow
}

.big {
  font-size: 60px;
}


.big,
.inverse {
  color: white;
  background: black;
}

[data-title="greeting"] {
  background: red;
}


[age] {
  background: green;
}

[location] {
  color: purple;
  font-size: 100px;
}
